:root {
    --navbarBgColor: #372C2C;
    --main-red: #CC0000;
    --mainBgColor: #17191B;
}

.displaySection {
    color: white;
    height: 300px;
    background-color: var(--mainBgColor);
    overflow: hidden;
    /*    background-color: yellow;*/
}

.rounded {
    border-radius: 4px !important;
}

.col-sm {
    padding: 20px;
    margin: 10px;
    max-width: inherit;
    height: fit-content;
    overflow: hidden;
}

.item {
    /*background-color: yellow;*/
    width: 493px;
    height: fit-content;
    overflow: hidden;
}

.itemBox {
    /*background-color: yellow;*/
    /*padding: 10px;*/
    margin: auto;
    height: fit-content;
}

.progress {
    height: 4px;
}

.progress-bar {
    background-color: var(--main-red);

}

.itemTitle {
    font-size: 14px;
    font-weight: 500;
    max-width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}

.itemCount {
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* filter section */

.filterColumn {
    height: fit-content;
    overflow: visible;

}


.filterSection {
    /*background-color: pink;*/
}

.dropdown-toggle {
    height: fit-content;
    text-align: left;
    font-size: 16px;
    background-color: var(--mainBgColor);
    color: rgba(255, 255, 255, 0.5);
    --bs-btn-hover-bg: var(--mainBgColor);
    --bs-btn-hover-color: rgba(255, 255, 255, 0.5);
    --bs-btn-active-bg: var(--mainBgColor);
    --bs-btn-active-color: rgba(255, 255, 255, 0.5);

}

.filterCategory, #dropdown-basic-button, .dropdown, .filterSearch, .filterSort, .dropdown-toggle {
    width: 320px;
}

.dropdown-item {
    background-color: var(--mainBgColor);
    color: white;
    width: 320px;
    overflow: hidden;
    height: 50px;
}

.dropdown-menu {
    background-color: var(--mainBgColor);
    --bs-dropdown-link-active-bg: transparent;
    max-height: 400px;
    overflow-y: auto;
}

.form-control, .input-group-text, .form-control:focus {
    color: white;
    background-color: var(--mainBgColor);
}

.input-group-text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
}

.input-group {
    width: 320px;
}

/* Item section*/

.itemSection {
    height: fit-content;
    background-color: var(--mainBgColor);
    padding: 10px;
    
}

.card-footer {
    background-color: var(--main-red);
    color: white;
    font-family: "Orbitron", sans-serif;
    padding: 0;
    font-size: 14px;
    
}

.card-body {
    color: white;
    background-color: var(--navbarBgColor);
    border-radius: 4px 4px 0 0;
    height: fit-content;
}

.card-text {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
    
}

.card-title {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
    text-overflow: ellipsis;
}

.purchaseModal {
    justify-content: right !important;
}

.card {
    width: 320px;
    height: 90px;
    background-color: transparent;
    --bs-card-inner-border-radius: calc(4px);
    cursor: pointer;
}

.btn-close {
    display: none;
}